<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1_IvV5mb9nDEAwczLITW56ismkN-BMj8</string>
	<key>GCM_SENDER_ID</key>
	<string>29800676935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.kospinsuryakencanaapps</string>
	<key>PROJECT_ID</key>
	<string>kospinsuryakencanaapps</string>
	<key>STORAGE_BUCKET</key>
	<string>kospinsuryakencanaapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29800676935:ios:cfae41f85deef329c43b62</string>
	<key>DATABASE_URL</key>
	<string>https://kospinsuryakencanaapps-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>